#sc_kun_navbar {
    background-image: linear-gradient(to top, #E8E8E8, #E8E8E8);
    background-position: top left;
    background-size: 100%;
    background-repeat: repeat;
}

#home_cover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(../images/cover.png);
    background-position: top left, top left;
    background-size: 100%, 100%;
    background-repeat: repeat, repeat;
}

#form_section {
    background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75));
    background-size: 100%;
}

#result_cover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/cover.png);
    background-position: center center, center center;
    background-size: 100%, 100%;
    background-repeat: repeat, repeat;
}

#sc_kun_footer {
    background-image: linear-gradient(to top, #E8E8E8, #E8E8E8);
    background-position: top left;
    background-size: 100%;
    background-repeat: repeat;
}