{% extends 'base.html' %}

{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i><b><b>Draw My Life</b></b></i></h1>
                <p class="lead mb-4 text-justify">I came to existence since my makers have SC final project. My makers thought that it will be fun if they can make me alive to satisfy many wandering souls about their SC grade. So, here I am helping you approximate your SC grade. You can check out how the heck my makers bring me into life by reading this quick summary below.&nbsp;</p>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-md-2 col-lg-5 p-4"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg" width="1500">
                <h4 class="my-3"> <b>#Data</b></h4>
                <p class="text-justify">Dummy data who? Never heard of it. Sorry, my makers only feed me with real data. It's all thanks to DSTI and Mrs. Ami.&nbsp;<br><br>The data consists of the following attribute: MD1 grade, SDA grade, StatProb grade, number of credits taken while taking SC course, number of semesters that have been passed when taking SC course, and also SC grade of course.</p>
            </div>
            <div class="col-md-2 col-lg-5 p-4"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg" width="1500">
                <h4 class="my-3"><b>#Bayesian Network</b></h4>
                <p class="text-justify">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.</p>
            </div>
            <div class="col-md-2 col-lg-5 p-4" style=""> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg" width="1500">
                <h4 class="my-3"><b>#Decision Tree with Gini Index</b></h4>
                <p class="text-justify">I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar.</p>
            </div>
            <div class="col-md-2 col-lg-5 p-4" style=""> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg" width="1500">
                <h4 class="my-3"> <b>#Decision Tree with Entropy</b></h4>
                <p class="text-justify">I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar.</p>
            </div>
            <div class="col-md-2 col-lg-5 p-4" style=""> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg" width="1500">
                <h4 class="my-3"> <b>#Accuracy</b></h4>
                <p class="text-justify">I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar.</p>
            </div>
            <div class="col-md-2 col-lg-5 p-4" style=""> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg" width="1500">
                <h4 class="my-3"> <b>#Website</b></h4>
                <p class="text-justify">My simple appearance has been sculpted with Bootstrap. Django is in my DNA. Heroku gives me power.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead mb-4 text-justify" contenteditable="true">I and&nbsp;particularly my makers want to express gratitude towards our awesome lecturer, Miss. Aruni and our amazing mentor, Kris-kun. Without them, I will not definitely be alive.&nbsp;</p>
            </div>
        </div>
    </div>
</div>

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-12">
                <h1 class="mb-3"><b>Meet My Makers</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg" width="100" alt="Dhita's photo">
                <h4><b>Dhita Putri Pratama</b></h4>
                <p>My Skinny Legend</p>
                <p class="mb-0"><i>"I made SC-kun predict your SC grade by teaching him Bayesian Network"</i></p>
            </div>
            <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Gio's photo">
                <h4><b>Giovan Isa Musthofa</b></h4>
                <p>My Remarkable Maker</p>
                <p class="mb-0"><i>"I taught SC-kun to make a perfect tree to guess your SC grade"</i></p>
            </div>
            <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="images/Nab.png" width="100" alt="Navi's photo">
                <h4><b>Nabila Febri Viola</b></h4>
                <p>My Beautiful Maker</p>
                <p class="mb-0"> <i>"I enable SC-kun to build tree based on different measurement and give him life"</i></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
