<footer>
    <div id="sc_kun_footer" class="py-3 bg-light">
        <div class="container" style="">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0 text-dark">© 2019 SC-kun. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>