{% extends 'base.html' %}

{% block content %}
<div class="py-5 text-center" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-8 order-2 order-lg-1"> <img class="img-fluid d-block" src="images/sc-kun.png"> </div>
            <div class="col-lg-2 col-4 d-flex flex-column justify-content-between order-3 order-lg-2">
                <img class="img-fluid d-block" src="images/candle.png">
                <img class="img-fluid d-block" src="images/crystalBall.png">
            </div>
            <div class="px-md-5 p-3 d-flex flex-column justify-content-center col-lg-6 order-1 order-lg-3">
                <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
                <h1>O wonderful soul!</h1>
                <p class="lead text-justify">
                    Help me hypothesize your SC grade by providing me a little bit information about yourself.
                    This will take no more than 5 minutes of your time.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="form_section" class="py-5 text-center align-items-center d-flex">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <form id="c_form-h" action="{{ url_for('.result') }}" method="POST">
                    <div class="form-group row"> <label for="md1Grade" class="col-2 col-form-label text-white text-left"><b>Your MD1 Grade</b></label>
                        <div class="col-10">
                            <select name="MD1" form="c_form-h" id="md1Grade" class="form-control" required>
                                <option selected value="A">A</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B">B</option>
                                <option value="B-">B-</option>
                                <option value="C+">C+</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row"> <label for="sdaGrade" class="col-2 col-form-label text-white text-left"><b>Your SDA Grade</b></label>
                        <div class="col-10">
                            <select name="SDA" form="c_form-h" id="sdaGrade" class="form-control" required>
                                <option selected value="A">A</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B">B</option>
                                <option value="B-">B-</option>
                                <option value="C+">C+</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row"> <label for="statprobGrade" class="col-2 col-form-label text-white text-left"><b>Your StatProb Grade</b></label>
                        <div class="col-10">
                            <select name="StatProb" form="c_form-h" id="statprobGrade" class="form-control" required>
                                <option selected value="A">A</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B">B</option>
                                <option value="B-">B-</option>
                                <option value="C+">C+</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row"> <label for="numOfCredits" class="col-2 col-form-label text-white text-left"><b>Number of Credits You Take</b></label>
                        <div class="col-10">
                            <select name="jumlahSks" form="c_form-h" id="numOfCredits" class="form-control" required>
                                <option selected value="24">24</option>
                                <option value=23>23</option>
                                <option value=22>22</option>
                                <option value=21>21</option>
                                <option value=20>20</option>
                                <option value=19>19</option>
                                <option value=18>18</option>
                                <option value=17>17</option>
                                <option value=16>16</option>
                                <option value=15>15</option>
                                <option value=14>14</option>
                                <option value=13>13</option>
                                <option value=12>12</option>
                                <option value=11>11</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="numOfSemesters" class="col-2 col-form-label text-white text-left">
                            <b>Number of Semesters at the Time You Took SC Course</b>
                        </label>
                        <div class="col-10">
                            <select name="jumlahSmt" form="c_form-h" id="numOfSemesters" class="form-control" required>
                                <option selected value="7">7</option>
                                <option value=6>6</option>
                                <option value=5>5</option>
                                <option value=4>4</option>
                            </select>
                        </div>
                    </div>

                    <div class="py-5 bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 p-3">
                                    <h1 class="mb-0 text-justify">Just remember that God will not change the condition of a people until they change what is in themselves</h1>
                                </div>
                                <div class="col-md-3 align-items-center d-flex justify-content-center p-3">
                                    <button type="submit" class="btn btn-lg btn-dark">
                                        <b>Get your SC grade prediction</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
