{% extends 'base.html' %}

{% block content %}
<div id="home_cover" class="py-5 text-center text-white bg-primary">
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-md-5"> <img class="img-fluid d-block rounded-circle" src="images/sc-kun.png">
                <h1 class="text-light text-center"><b>Hello, I am SC-kun</b></h1>
                <p class="mb-4"><b><i>I will help your wandering soul to try to predict your SC grade based on what I have learned</i></b></p>
                <a class="btn btn-light" href="{{ url_for('.prediction') }}"><b><i><span style="font-style: normal;">Please predict my SC grade, SC-kun!</span></i></b></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
