<nav id="sc_kun_navbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container">
      <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar8" aria-controls="navbar8" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbar8">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link" href="{{ url_for('.index') }}"><b>Home</b></a> </li>
        <li class="nav-item"> <a class="nav-link" href="{{ url_for('.about') }}"><b>About</b></a> </li>
      </ul>
        <p class="d-none d-md-block lead mb-0 text-dark"><a class="nav-link" href="{{ url_for('index') }}" style="color: #080C27"><b>SC-kun</b></a></p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-1"> <a class="nav-link" href="#">
            <i class="fa fa-gitlab fa-fw fa-lg"></i>
          </a> </li>
        </ul>
    </div>
  </div>
</nav>
