{% extends 'base.html' %}

{% block content %}
<div id="result_cover" class="py-5">
    <div class="container">
        <div class="row">
            <div class="text-center mx-auto col-md-12">
                <h1 class="text-light"><b>My Thoughts on Your SC Grade</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-3">
                <div class="card text-center text-dark">
                    <div class="card-body p-4">
                        <h3>Bayesian Network</h3>
                        <p class="my-3">According to my bayesian network, your grade will be a</p>
                        <h2><b>{{ prediction_bayes }}</b> </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="card text-center text-dark">
                    <div class="card-body p-4">
                        <h3>Decision Tree with Gini Index</h3>
                        <p class="my-3">Based on my model tree, your grade will be a</p>
                        <h2> <b>{{ prediction_gini }}</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="card text-center text-dark">
                    <div class="card-body p-4">
                        <h3>Decision Tree with Entropy</h3>
                        <p class="my-3">By predicting it with my other model tree, your grade will be a</p>
                        <h2 id="entropy_result"><b>{{ prediction_entropy }}</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-12">
                <h1 class="mb-4"><b><i>Do you feel like entering the wrong information?</i></b></h1> <a class="btn btn-outline-dark" href="{{ url_for('.prediction') }}"><b><b>Try again</b></b></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
